In [2]:
from sqlalchemy import create_engine, MetaData, Table
import psycopg2
#Exercise 1
db_string = "postgres://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"
db = create_engine(db_string)

In [31]:
#Exercise 2
ex1=db.execute('Select staff.first_name,staff.last_name,country.country from staff inner join address on(staff.address_id=address.address_id) inner join city on(address.city_id=city.city_id) inner join country on(city.country_id=country.country_id)')
print(ex1.fetchall())
ex2=db.execute('Select actor.first_name, actor.last_name, language.name, film.title from actor inner join film_actor on(actor.actor_id=film_actor.actor_id) inner join film on(film_actor.film_id=film.film_id) inner join language on(film.language_id=language.language_id)  LIMIT 1')
print(ex2.fetchall())

[('Mike', 'Hillyer', 'Canada'), ('Jon', 'Stephens', 'Australia')]
[('Alec', 'Wayne', 'English             ', 'Chamber Italian')]

In [6]:
#Exercise 3
count=db.execute('Select COUNT(name) from category')
print(count.fetchall())

[(16,)]

In [5]:
#Exercise 4
count2 = db.execute('select name from category LIMIT 2')
print(count2.fetchall())

[('Action',), ('Animation',)]

In [20]:
#Exercise 5
oldest = db.execute('select title, release_year from film order by release_year desc')
youngest = db.execute('select title, release_year from film order by release_year asc')
#The oldest film
print(oldest.fetchone())
#The youngest film
print(youngest.fetchone())

('Chamber Italian', 2006)
('Chamber Italian', 2006)

In [26]:
#Exercise 6
name = db.execute('select first_name, last_name from actor where first_name=\'Olympia\' or first_name=\'Julia\' or first_name=\'Ellen\'')
print(name.fetchall())
#Check every actor with name Olympia
check_Olympia=db.execute('select first_name, last_name from actor where first_name=\'Olympia\'')
print(check_Olympia.fetchall())
#Check every actor with name Julia
check_Julia=db.execute('select first_name, last_name from actor where first_name=\'Julia\'')
print(check_Julia.fetchall())
#Check every actor with name Ellen
check_Ellen=db.execute('select first_name, last_name from actor where first_name=\'Ellen\'')
print(check_Ellen.fetchall())

[('Julia', 'Mcqueen'), ('Julia', 'Barrymore'), ('Ellen', 'Presley'), ('Olympia', 'Pfeiffer'), ('Julia', 'Zellweger'), ('Julia', 'Fawcett')]
[('Olympia', 'Pfeiffer')]
[('Julia', 'Mcqueen'), ('Julia', 'Barrymore'), ('Julia', 'Zellweger'), ('Julia', 'Fawcett')]
[('Ellen', 'Presley')]